{% extends "layout.html" %}
{% block body %}
<header class="masthead" style="background-image: url('static//img//faq.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1></h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 style="text-decoration: underline;">Top 10 Stock Market Investors FAQs</h1><br>
            <h4>Ques – Who are the Top 10 Stock Market Investors in India?</h4>
            <h6 style="color: grey;">Answer – The top 10 stock market investors in India are: RakeshJhunjhunwala,
                RadhakishanDamani, Ramesh Damani, Ramdeo Agarwal, Vijay Kedia, Nemish Shah, PorinjuVelivath, Dolly
                Khanna, Ashish Kacholia and Chandrakant Sampat.</h6>
            <hr>
            <h4>Ques – Where can I find List of Top Stock Market Investors?</h4>
            <h6 style="color: grey;">Answer – In this very article that we are providing you with, you will get to know
                everything about the top share market investors along with their small yet extra wage and investment
                journey and how they made it to the top.</h6>
            <hr>
            <h4>Ques – Can I also find the portfolio of Top Stock Market Investors?</h4>
            <h6 style="color: grey;">Answer – You can definitely find the portfolio of top stock market investors over
                here in this article. What these top stock market investors believed in, what they pursued and to what
                extent they have been contributing in the market, everything is lined up in absolute details.</h6>
            <hr>
            <h4>Ques – Where can I find total asset of top stock market investors?</h4>
            <h6 style="color: grey;">Answer – The total asset of the top stock market investors in the present scenario
                will be available in full glamour and comprehensive unity in this very article provided to you on our
                website.</h6>
            <hr>
            <h4>Ques – Where can I check investment journey of Rakesh Jhunjhunwala?</h4>
            <h6 style="color: grey;">Answer – Famously known as India’s Warren buffet, he is one of the most prominent
                stock market analyst in the country. His investment journey can be found diligently written over here in
                this article.</h6>
            <hr>
            <h4>Ques – What is the total net worth of RadhakishanDamani?</h4>
            <h6 style="color: grey;">Answer – He is a billionaire investor, born in Bikaner. The founder of DMart, his
                net worth is a staggering 1660 crores USD.</h6>
            <hr>
            <h4>Ques – What is the total net worth of Ramesh Damani?</h4>
            <h6 style="color: grey;">Answer – A tactile investor, he has been able to manage a total of 12,64,099 shares
                of his company. His net worth is 19.9 crores.</h6>
            <hr>
            <h4>Ques – What is the total net worth of Raamdeo Agrawal?</h4>
            <h6 style="color: grey;">Answer – An Indian businessman and a stock market investor, his net worth is an
                insane $1 billion.</h6>
            <hr>
            <h4>Ques – Who is Vijay Kedia?</h4>
            <h6 style="color: grey;">Answer – Vijay Kedia is a pretty effective Indian Stock investor, who began
                exchanging stocks when he was merely a teenager. Having earned a hefty amount of benefit from this
                business, it is no surprise that he has faced similar shortcomings as well.</h6>
            <hr>
            <h4>Ques – Who is Porinju Veliyath?</h4>
            <h6 style="color: grey;">Answer – He is a magnificent in stock market investment who has been known as a top
                achiever by the economic Times. Born in a rather poor family, he started working from the age of 17 and
                has attained a gigantic amount of success over the years.</h6>
        </div>
    </div>
</div>
{% endblock %}