{% extends "layout.html" %}
{% block body %}
<header class="masthead" style="background-image: url('static//img//investors.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>Investors</h1>
                    <span class="subheading">Invest Today - Enjoy Tomorrow</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1 style="text-decoration: underline;">List of Top 10 Stock Market Investors in India</h1>
                    <span>
                        <details>
                            <summary>1. Rakesh Jhunjhunwala</summary>
                            <img style="max-height: 150px;" src="static/investors/1.webp" alt="">
                            <p style="justify-content: center; text-align: justify;">Total assets: 2.4 Billion USD
                                <br><br>
                                Rakesh Jhunjhunwala, otherwise called, “India’s Warren Buffet” and “The Big Bull’, is a
                                standout amongst the most prestigious and helpful stock market analyst in India.
                                <br><br>
                                The child of a salary imposed officer, Rakesh joined the share trading system in the
                                wake of finishing his degree as a contracted bookkeeper. <br><br>
                                Beginning with the underlying speculation of just Rs 5,000, presently, he owns total
                                assets of around Rs 15,000 crores. <br><br>
                                Mr.Jhunjhunwala works with the resources provided by the company called “Rare
                                Enterprises”. That name was derived from his significant other’s name and also his own
                                initials. <br><br>
                                That is, Re-kha and Ra-kesh. He is currently an executive of a company named Aptech
                                Limited. He also works with Hungama Digital Media Entertainment Pvt Ltd.
                            </p>
                            <p>Check Out the Latest <a
                                    href="https://top10stockbroker.com/investor-portfolio/rakesh-jhunjhunwala-portfolio/"
                                    target="_blank">Rakesh Jhunjhunwala Portfolio</a></p>
                        </details>

                        <hr>
                        <details>
                            <summary>2. Radhakishan Damani</summary>
                            <img style="max-width: 263px;" src="static/investors/2.jpg" alt="">
                            <p style="justify-content: center; text-align: justify;">Total assets: 7.1 Billion USD
                                <br><br>
                                RadhakrishnanDamani, otherwise called ‘Mr white and white’, due to his straightforward
                                dressing-white shirt and white pants, is a stock market investor and proprietor of
                                D-store. <br><br>
                                He is additionally the guide of extremely rich person financial specialist Rakesh
                                Jhunjhunwala. RK Damaniis knownfor his position of safety and he infrequently shows up
                                in broad daylight occasions or public interviews. <br><br>
                                RK Damani own a lot of shares and stocks out of which he owns 52 percent stake in Avenue
                                Supermarts. He also possesses a 16 percent stake in his centure- Bright star
                                investments.
                            </p>
                        </details>

                        <hr>
                        <details>
                            <summary>3. Ramesh Damani</summary>
                            <img style="max-width: 274px;" src="static/investors/3.webp" alt="">
                            <p style="justify-content: center; text-align: justify;">Total assets: 800 Crores (1.24
                                Billion USD) <br><br>
                                Ramesh Damani, the investor master and a standout amongst the best securities exchange
                                financial specialists in India, began his career to wealth in the 1990s when Sensex was
                                600. <br><br>
                                Damani has a four year college degree from HR college in Mumbai and he also earned his
                                post-graduation degree from the California State University in Business Administration
                                (BBA) <br><br>
                                Ramesh Damanicurrently deals with his own Ramesh s Damani Finance Pvt Ltd. <br><br>
                                The child of an effective stock market analyst and investor, Ramesh Damani turned into
                                an individual from the Bombay Stock Exchange(BSE) in 1989. <br><br>
                                At first, Ramesh arranged his profession as a stockbroker. Be that as it may, later he
                                began getting a charge out of picking winning stocks and changed to end up a long haul
                                speculator.</p>
                            <p>Click to Check <a
                                    href="https://top10stockbroker.com/investor-portfolio/ramesh-damani-portfolio/"
                                    target="_blank">Ramesh Damani Portfolio</a></p>
                        </details>

                        <hr>
                        <details>
                            <summary>4. Raamdeo Agrawal</summary>
                            <img style="max-width: 240px;" src="static/investors/4.jpg" alt="">
                            <p style="justify-content: center; text-align: justify;">Networth – 1000 Cr <br><br>
                                Raamdeo Agrawal is a securities and exchanges financial specialist in India. He is a
                                firm believer in the MotilalOswal Group as well. <br><br>
                                He is known for pumping in resources into the renowned company of Hero Honda in the year
                                1995 and at that point of time, Hero Honda was worth only INR 1000 crores in terms of
                                market capitalization. <br><br>
                                Raamdeo Agrawal put around Rs 10 lakh in the stocks of the bike maker at Rs 30 each, and
                                clutched them for the following 20 years, till the offer value rose to Rs 2,600 each.
                                <br><br>
                                Today the market top of HERO is over 73,000 crores.
                            </p>
                        </details>

                        <hr>
                        <details>
                            <summary>5. Vijay Kedia</summary>
                            <img style="max-width: 210px;" src="static/investors/5.jpg" alt="">
                            <p style="justify-content: center; text-align: justify;">Mr. Vijay Kedia is a simple and
                                effective Indian financial specialist. He was born in a stockbroking family and was
                                interested in the stock market from his youth. <br><br>
                                He began exchanging stocks when he was only 19. In his underlying long periods of
                                exchanging he earned great benefit yet later, endured with gigantic misfortunes.
                                <br><br>
                                At that point, he began his own business, however, again unsuccessful. In the wake of
                                exchanging for just about 10 years, he understood that he has not earned many benefits
                                and thus concentrated on Investing. <br><br>
                                Mr. Kedia found out about contributing without anyone else since there were
                                exceptionally uncommon sources to find out about Investing. <br><br>
                                He began perusing papers, magazines and yearly reports of organizations from the
                                exceptionally introductory phase of his contributing profession which helped him to
                                build his insight.
                            </p>
                            <p>Check detailed information about <a
                                    href="https://top10stockbroker.com/investor-portfolio/vijay-kishanlal-kedia-portfolio/"
                                    target="_blank">Vijay Kedia Portfolio</a></p>
                        </details>

                        <hr>
                        <details>
                            <summary>6. Nemish Shah</summary>
                            <img style="max-width: 245px;" src="static/investors/6.jpg" alt="">
                            <p style="justify-content: center; text-align: justify;">Nemish Shah is the prime supporter
                                of ENAM, a standout amongst other venture houses in India. He’s likewise one of the best
                                retail financial investors in the nation. <br><br>
                                Nemish Shah’s venture reasoning is very like that of Warren Buffet. He trusts in putting
                                resources into firms that profit by developing utilization. Shah’s interests in Asahi
                                India, the provider of car glass, have duplicated around 3 or multiple times in 3 years.
                                <br><br>
                                In the event that the arrival on the capital utilized (ROCE) numbers are under nine
                                percent, the organization does not merit putting resources into. <br><br>
                                The most critical thing is the manner by which the association’s future development is
                                arranged. At the point when advertisers always raise capital, the value gets weakened.
                            </p>
                            <p>Check Out Latest <a
                                    href="https://top10stockbroker.com/investor-portfolio/nemish-s-shah-portfolio/"
                                    target="_blank">Nemish Shah Portfolio</a></p>
                        </details>

                        <hr>
                        <details>
                            <summary>7. Porinju Veliyath</summary>
                            <img style="max-width: 230px;" src="static/investors/7.jpg" alt="">
                            <p style="justify-content: center; text-align: justify;">Mr. Porinju Veliyath is an
                                outstanding Indian stock market investor and store supervisor. <br><br>
                                He deals with his own portfolio as an accomplice in his portfolio the executives firm
                                Equity Intelligence India Ltd. He has been known as a little top ruler by The Economic
                                Times. <br><br>
                                Mr. Porinju Veliyath was conceived in Indian state Kerala on 6 June 1962. He was born in
                                a poor family, so to help his family, he began working from the age of 17. <br><br>
                                At that point, he moved to Ernakulum where he functioned as Telephone administrative in
                                Ernakulum phone trade, all the while he was seeking after his LLB from Ernakulam Law
                                College. <br><br>
                                He was excited about securities exchange from his youth. Consequently to pursue his
                                enthusiasm he moved to Mumbai in the wake of finishing his graduation.
                            </p>
                            <p>Find out detailed & latest <a
                                    href="https://top10stockbroker.com/investor-portfolio/porinju-veliyath-portfolio/"
                                    target="_blank">Porinju Veliyath Portfolio</a></p>
                        </details>

                        <hr>
                        <details>
                            <summary>8. Dolly Khanna</summary>
                            <img style="max-width: 250px;" src="static/investors/8.jpg" alt="">
                            <p style="justify-content: center; text-align: justify;">Dolly Khanna whose portfolio esteem
                                was assessed as being above Rs 600 crore in November-17, excessively made executing in
                                Indian capital markets a year ago. <br><br>
                                One such mid-top Rain Industries Ltd, picked by Rajiv Khanna, who puts resources in the
                                name of his better half Dolly, has given over 577% returns since in 2017. <br><br>
                                The other multi-baggers in the arrangement of Dolly Khanna incorporate NOCIL Ltd., which
                                returned 171% and PPAP Automotive with returns of 342% in 2017.
                            </p>
                            <p>Lets have a look at latest <a
                                    href="https://top10stockbroker.com/investor-portfolio/dolly-khanna-portfolio/"
                                    target="_blank">Dolly Khanna Portfolio</a></p>
                        </details>

                        <hr>
                        <details>
                            <summary>9. Ashish Kacholia</summary>
                            <img style="max-width: 235px;" src="static/investors/9.jpg" alt="">
                            <p style="justify-content: center; text-align: justify;">The media modest financial
                                specialist, Ashish Kacholia, who is known for his multi-bagger mid and little top picks,
                                too demonstrated his fortitude in 2017. <br><br>
                                Quite, NOCIL Ltd is a typical script which includes in his portfolio alongside Dolly
                                Khanna. As referenced before, the biggest elastic synthetic compounds producer NOCIL
                                Ltd’s offers have restored a stunning 172% in the year 2017. <br><br>
                                The other multi-baggers in the arrangement of Ashish Kacholia incorporate KEI
                                Industries, which returned 204% and APL Apollo Tubes with returns of 116% in 2017.
                            </p>
                            <p>Find Out the detail about <a
                                    href="https://top10stockbroker.com/investor-portfolio/ashish-kacholia-portfolio/"
                                    target="_blank">Ashish Kacholia Portfolio</a></p>
                        </details>

                        <hr>
                        <details>
                            <summary>10. Chandrakant Sampat</summary>
                            <img style="max-width: 190px;" src="static/investors/10.jpg" alt="">
                            <p style="justify-content: center; text-align: justify;">Sampat is a self-teacher who has
                                invested decades sharpening the craft of assessing the activities, not the expectation,
                                of corporate houses. <br><br>
                                It’s little pondering, at that point, that Sampat, presently 86, is one of the nation’s
                                most seasoned and most regarded financial specialists. <br><br>
                                Sampat fears the effect of monetary development on the world’s exhausting normal assets.
                                “We have turned out to be sharp, however, the knowledge is absent.”
                            </p>
                        </details>

                        <hr>
                        <br>
                    </span>
                    <h2 style="text-decoration: underline;">Stock Market quotes</h2>
                    <h4>1. John Maynard Keynes</h4>
                    <p>"As time goes on, I get more and more convinced that the right method of investment is to put
                        fairly large sums into enterprises which one thinks one knows somthing about and in the
                        management of which one thoroughly believes."</p>

                    <hr>
                    <h4>2. John D. Rockefeller</h4>
                    <p>"The person who starts simply with the idea of getting rich won't succeed, you must have a larger
                        ambition."</p>

                    <hr>
                    <h4>3. Warren Buffet</h4>
                    <p>"If you have more than 120 or 130 I.Q. points, you can afford to give the rest away. You don't
                        need extraordinary intelligence to succeed as an investor."</p>

                    <hr>
                    <h4>4. T. Boone Pickens</h4>
                    <p>"The older I get, the more I see a straight path where I want to go. If you're going to hunt
                        elephants, don't get off the trail for a rabbit."</p>

                    <h2 style="text-decoration: underline;"> Top 5 motivational quotes by Indian investors</h2>
                    <p>1. "Trading doesn't just reveal t=your character, it also builds it if you stay in the game long
                        enough." -- By <strong>Yvan Byeajee</strong><br><br>
                        2. "You never know what kind of setup market will present to you, your objective should be to
                        find opportunity where risk reward ratio is best." -- By <strong>Jaymiin Shah</strong><br><br>
                        3. "If you do choose to invest in a share, invest for the lifetime." -- By <strong>Sandeep
                            Sahajpal</strong><br><br>
                        4. "Life seems to be like a stock market, where relationships are traded. Can't judge when the value of a relationship will go high or low!" -- By <strong>Kankane Rakhi Surendra</strong><br><br>
                        5. "Reaching any goal in trading requires specific domain knowledge and technical skills. But then, after that, it's all mindset management. Yet most people ignore that - they automatically think they have that part of all figured out and it's a mistake." -- By <strong>Yvan Byeajee</strong>
                    </p>
                    
                    <h2 style="text-decoration: underline;">Best Stock Market Investors in India – Conclusion</h2>
                    <p>In the last, I might want to reason that there is no scholastic degree on the planet that can
                        promise you accomplishment in securities exchange. <br><br>
                        It is, at last, the experience that influences you to learn.</p>
                    <p><strong>Happy Investing</strong></p>
        </div>
    </div>
</div>
{% endblock %}